// place your custom styles here
h2,
h3,
h4 {
  font-weight: 600;
}
.vp-features {
  flex-wrap: nowrap;
}
.vp-feature-item {
  background-color: #f6f6f7;
  border: 1px solid #f6f6f7;
  transition: border-color 0.25s, background-color 0.25s;
}
.vp-features:first-child {
  border: none;
}
